<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Health Check</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h2>Health Check</h2>
    <p>Hello, this is a health check for the Image Captioning Flask App.</p>
    <p>If you can see this message, the server is up and running.</p>
  </div>
</body>
</html>
